{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}


    <div class="main">

    <section class="gradient-overly-top ptb-100 height-lg-100vh d-flex align-items-center" style="background: url('{{ asset('assets/img/hero-13.jpg') }}')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center pt-5 pt-sm-5 pt-md-5 pt-lg-0">
                <div class="col-md-6 col-lg-5">
                    <div class="card login-signup-card shadow-lg mb-0">
                        <div class="card-body px-md-5 py-5">
                            <div class="mb-5">
                                <h5 class="h3">Nouveau mot de passe</h5>
                                <p class="text-muted mb-0">Créez votre nouveau mot de passe pour pouvoir continuer.</p>
                            </div>

                            {{ form_start(form, {'attr' : {'class':'login-signup-form'}} ) }}
                            <div class="form-group">
                                <label class="pb-1" for="{{ field_label(form.password.first) }}">
                                    Mot de passe :
                                </label>
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    <input
                                            type="password"
                                            id="{{ field_label(form.password.first) }}"
                                            name="{{ field_name(form.password.first) }}"
                                            placeholder="{{ field_label(form.password.first) }}"
                                            required="required"
                                            class="form-control {% if field_errors(form.password.first) is not empty %}is-invalid{% endif %}"
                                    />
                                    <div class="input-group-append">
                                            <span class="input-group-text" >
                                              <i class="fas fa-eye"></i>
                                              <i class="fas fa-eye-slash d-none"></i>
                                            </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="pb-1" for="password_confirm">
                                    Confirmez votre mot de passe :
                                </label>
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    <input
                                            type="password"
                                            id="password_confirm"
                                            name="{{ field_name(form.password.second) }}"
                                            placeholder="{{ field_label(form.password.second) }}"
                                            required="required"
                                            class="form-control"
                                    />
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i class="fas fa-eye"></i>
                                              <i class="fas fa-eye-slash d-none"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-block primary-solid-btn border-radius mt-4 mb-3" type="submit" name="{{ field_name(form.submit) }}">
                                Enregistrer
                            </button>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block footer %}{% endblock %}
{% block components %}{{ include('components/_preloader.html.twig') }}{% endblock %}