<div class="container">
    <div class="col-md-12 col-lg-12">
        {{ form_start(form, {'attr' : {'class':'submit-request-form'}},{'attr': {'id': 'contactForm'}} ) }}
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {
                        'attr': {
                            'readonly': app.user is not null,
                            'value': app.user ? app.user.email : ''
                        }
                    }) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname, {
                        'attr': {
                            'readonly': app.user is not null,
                            'value': app.user ? app.user.firstname : ''
                        }
                    }) }}
                    {{ form_errors(form.firstname) }}
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname, {
                        'attr': {
                            'readonly': app.user is not null,
                            'value': app.user ? app.user.lastname : ''
                        }
                    }) }}
                    {{ form_errors(form.lastname) }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    {{ form_row(form.object) }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" class="btn primary-solid-btn">Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>