{% extends 'base.html.twig' %}

{% block title %}Vos Informations{% endblock %}

{% block body %}

    <div class="main">

        <!--page header section start-->
        <section class="page-header-section ptb-50 gradient-overly-right" style="background: url('{{ asset('assets/img/hero-13.jpg') }}')no-repeat center center / cover">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-6">
                        <div class="page-header-content text-white">
                            <h1 class="text-white mb-2">Modification mot de passe</h1>
                            <p class="lead">Vous pouvez modifier votre passe depuis cette page</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page header section end-->

        <!--breadcrumb bar start-->
        <div class="breadcrumb-bar py-3 gray-light-bg border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0 pl-0">
                                <li class="list-inline-item breadcrumb-item"><a href="{{ path('app_account') }}">Mon-Compte</a></li>
                                <li class="list-inline-item breadcrumb-item active">Modification-mot-de-passe</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumb bar end-->

        <!--submit request form start-->
        <section class="submit-request-form ptb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-8">
                        <div class="section-heading text-center mb-5">
                            <h2>Formulaire Mot de passe :</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        {{ form_start(form, {'attr' : {'class':'submit-request-form'}} ) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="pb-1" for="{{ field_label(form.current_password) }}">
                                        Votre mot de passe actuel :
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <input
                                                type="password"
                                                id="{{ field_label(form.current_password) }}"
                                                name="{{ field_name(form.current_password) }}"
                                                placeholder="{{ field_label(form.current_password) }}"
                                                required="required"
                                                class="form-control {% if field_errors(form.current_password) is not empty %}is-invalid{% endif %}"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text" >
                                              <i class="fas fa-eye"></i>
                                              <i class="fas fa-eye-slash d-none"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.current_password) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="pb-1" for="{{ field_name(form.new_password.first) }}">
                                        Votre nouveau mot de passe :
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <input
                                                type="password"
                                                id="{{ field_name(form.new_password.first) }}"
                                                name="{{ field_name(form.new_password.first) }}"
                                                placeholder="{{ field_label(form.new_password.first) }}"
                                                required="required"
                                                class="form-control {% if field_errors(form.new_password.first) is not empty %}is-invalid{% endif %}"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text" >
                                              <i class="fas fa-eye"></i>
                                              <i class="fas fa-eye-slash d-none"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.new_password.first) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pb-1" for="password_confirm">
                                        Confirmez votre nouveau mot de passe :
                                    </label>
                                    <div class="input-group input-group-merge">
                                        <input
                                                type="password"
                                                id="password_confirm"
                                                name="{{ field_name(form.new_password.second) }}"
                                                placeholder="{{ field_label(form.new_password.second) }}"
                                                required="required"
                                                class="form-control"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i class="fas fa-eye"></i>
                                              <i class="fas fa-eye-slash d-none"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                <button type="submit" class="btn primary-solid-btn">Modifier votre mot de passe</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
        <!--submit request form end-->

    </div>


{% endblock %}
